---
---

@import "{{ site.theme }}";

pre, code {
    max-width: 90%;
    box-sizing: border-box;
}

header {
  box-sizing: border-box;
  /*width: max-content;*/
  width: 100%;
  border-bottom: 2px solid #ff0000; /* Red separator */
  padding-bottom: 10px; /* Adjust the padding as needed */
}

body {
    background: #000000; /* Black */
    color: #ff0000; /* Red */
    font-family: Arial, sans-serif;
}

header h1 {
    color: #ff4500; /* Orange Red, to give headings a bit more contrast */
}

header h2 {
    color: #ff4500; /* Orange Red, to give headings a bit more contrast */
}

h1, h2, h3, h4, h5, h6 {
    color: #ff4500; /* Orange Red, to give headings a bit more contrast */
}

.tag-heading {
    color: #ff4500; /* Orange Red, same as your other headings */
    /* font-weight: bold; /* for a bold appearance like headings */
    /* font-size: 1.2em; /* adjust the size if needed */
}

a {
    color: #ff0000; /* Red */
}

a:hover {
    color: #ff6347; /* Tomato Red */
}

header h1:before {
    content: "";
    font-size: 24px;
    color: #ff4500;
}

hr {
    border: 1px solid #ff0000; /* Red */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between cards */
  justify-content: left;
  padding: 0px 20px 20px 0px; /* Space around the cards */
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto; /* Adjust as necessary */
  margin: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.card-blue, .card-gold {
  color: white; /* White text for both card types for better contrast */
}

.card-content {
  padding: 16px;
}

.card-blue {
  background-color: rgba(0, 64, 128, 1.0);
}

.card-gold {
  background-color: #fbc02d;
  color: black; /* Black text for better contrast */
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-content p {
  margin: 0px 0; /* Reduced margin for less vertical space between p and audio */
}

audio {
  //width: 100%; /* Make audio player full width of card */
  margin-top: 0px; /* Reduced spacing above audio player */
  margin-bottom: 0px; /* Reduced spacing below audio player */
}

/* Base styles for the image */
img.responsive-img {
  width: 100%; /* default width for mobile devices */
}

div.image-container {
  text-align: center;
}
